<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/css/styles-productdetail.css"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link href="/css/normalize.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/86df6f0eff.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>

    <%- include ("../partials/header") %>

    <main>
      <section class="main-product-section">
        <div class="main-product">
         <div class="product-image-div">
            <img src="/img/wine-bottle.png" class="product-image" />
        </div>
          <div class="product-text">
            <h2 class="product-title"><%= product.name %></h2>
            <h3 class="product-price">$<%= product.price %></h4>
            <h4 class="product-description"><%= product.descriptionTitle %></h6>
            <p>
              <%= product.description %>
            </p>
            <br>
            <div class="purchase-buttons">
            <input type="number" class="product-quantity"></input>
            <button type="submit" class="add-product"><i class="fas fa-cart-plus"></i></button>
            </div>
            <div class="cart-button"><a href="productCart">Finalizar compra</a></div>
            <div class="product-buttons">
              <p ><a class="edit-button" href="/products/<%= product.id %>/edit">EDITAR</a></p>
              <form action="/products/delete/<%=product.id%>?_method=DELETE" method="post">
              
              <button type="submit" class="delete-button">ELIMINAR</button>
            </form>
            </div>
          </div>
        </div>
      </section>

      <section class="related-products-section">
            <h3 class="related-products-text">Productos relacionados</h3>

        <div class="related-products-imgs">
            <container class="related-products-imgs-container">
                <img src="/img/wine-bottle.png" class="related-img">
                <p class="related-products-tag">
                    <strong>Nombre</strong>
                    $9,999
                </p>
            </container>
            <container class="related-products-imgs-container">
                <img src="/img/wine-bottle.png" class="related-img">
                <p class="related-products-tag">
                    <strong>Nombre</strong>
                    $9,999
                </p>
            </container>
            <container class="related-products-imgs-container">       
                <img src="/img/wine-bottle.png" class="related-img">
                <p class="related-products-tag">
                    <strong>Nombre</strong>
                    $9,999
                </p>
            </container>
            <container class="related-products-imgs-container">
                <img src="/img/wine-bottle.png" class="related-img">
                <p class="related-products-tag">
                    <strong>Nombre</strong>
                    $9,999
                </p>
            </container>
        </div>
      </section>
    </main>

    <%- include ("../partials/footer") %>


  </body>
</html>
