<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Digital Wines - Inicio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/css/styles-products.css"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link href="/css/normalize.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/86df6f0eff.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <%- include ("../partials/header") %>
    <main>
      <section>
        <div class="frase">
          <p>
            «Un buen vino es como una buena película: dura un instante y te deja
            en la boca un sabor a gloria; es nuevo en cada sorbo y, como ocurre
            con las películas, nace y renace en cada saboreador.» Federico
            Fellini
          </p>
        </div>
        <div class="busqueda">
          <form action="/products/search" method="get">
          <input type="search" name="search" id="search" placeholder="¿Qué vino estás buscando?"/>
    <button type="submit">Buscar</button>
  </form>
        </div>
        <container class="products-container">
          <% products.forEach(vino => { %>
          <div class="productos">
            <article class="VINOS">
              <a href="products/detail/<%= vino.producto_id %>">
                <img
                  class="imagen-producto"
                  src="/img/red-wine-4813262_640.jpg"
                  alt=""
              /></a>
              <div class="descripcion-articulo">
                <i class="fa-solid fa-wine-bottle"></i>
                <p class="precio">$<%= vino.precio %></p>
                <p class="descuento"><%= vino.descuento %>% OFF</p>
                <h4 class="titulo"><%= vino.nombre %></h4>
              </div>
            </article>
          </div>
        </div>
        <% }) %>
        </container>
      </section>
    </main>
    <%- include ("../partials/footer") %>
  </body>
</html>
